.radar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: black;
}

.radar-ui {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 75%;
}

.analyzer {
    width: 100%;
    height: 100%;
}

app-waterfall {
    flex-grow: 1;  /* Takes up remaining space in the flex container */
    height: 100%;
    width: 100%;
}

app-controls {
    height: 100%;
    width: 250px;
    position: relative;
}