.radar-ui {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
}

app-waterfall {
    flex-grow: 1;  /* Takes up remaining space in the flex container */
    height: 100%;
    width: 100%;
}


app-controls {
    height: 100%;
    width: 250px;
    position: relative;
}